<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons>
            <ion-img class="title" src="../../assets/icon/agrioToolbar.svg"></ion-img>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-img class="icon" src="../../assets/icon/agrioIconToolbar.svg"></ion-img>
        </ion-buttons>
    </ion-toolbar>
    <div class="searchContainer" *ngIf="showSearch">
        <ion-input color="primary-shade" type="text" placeholder="search" [(ngModel)]="searchTerm"
                   (ngModelChange)="update()">
            <ion-icon name="search"></ion-icon>
        </ion-input>
    </div>
</ion-header>
