<div class="card">
  <div class="card-header">
    <img src="../../../assets/img/default_profile_pic.jpg" alt="">
    <div class="name-container">
      <p class="name">full name</p>
      <p class="username">agriousername</p>
    </div>
  </div>
  <div class="card-actions">
    <ion-fab-button class="clear">
      <ion-icon name="heart-empty"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="clear">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </div>
</div>
