<ion-app>
  <ion-menu side="start" class="my-side-menu">

    <ion-content>

      <div class="logo-wrapper">
        <img class="agrio-logo" src="../assets/icon/agrioIcon.svg">
        <img class="agrio-name" src="../assets/icon/agrio.svg">
      </div>

      <ion-list>
        <ion-item lines="none" button (click)="onLogout()">
          <ion-icon name="log-out" slot="start" color="primary" style="transform:rotateZ(180deg)"></ion-icon>
          <ion-label color="primary" class="logout-btn">
            LOGOUT
          </ion-label>
        </ion-item>
      </ion-list>

      <p class="agrio-edition">agrio metropolia edition</p>

    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
