.image {
  width: 100%;
  padding-top: 100%;
  background-color: #9bd2c5;
  background-size: cover;
  background-position: center center;
}

.media-text-content {
  padding: 16px;

  .media-title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
  }

  .media-description {
    margin-top: 16px;
  }

  .user-info-post-actions-wrapper {
    display: flex;
    align-items: center;

    .profile-picture {
      width: 40px;
      height: 40px;
      background-image: url(../../assets/img/default_profile_pic.jpg);
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      overflow: hidden;

      .picture {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }

    .user-info {
      margin-left: 16px;
      flex-grow: 1;

      h2,
      p {
        margin: 0;
      }
      h2 {
        font-size: 18px;
        font-weight: 300;
        width: calc(100vw - 240px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        color: #779f96;
        font-size: 13px;
        font-weight: 500;
      }
    }

    .media-likes {
      margin-left: 8px;
      display: flex;
      align-items: center;

      .heart-outline {
        fill: white;
        stroke: var(--ion-color-title);
        stroke-width: 1px;
        width: 22px;
        height: 100%;

        transition: fill 200ms ease-in-out, stroke 200ms ease-in-out;
      }

      p {
        margin: 0;
        margin-left: 4px;
        font-size: 14px;
      }
    }

    .media-comments {
      margin-left: 16px;
      display: flex;
      align-items: center;

      img {
        width: 19px;
      }

      p {
        margin: 0;
        margin-left: 4px;
        font-size: 14px;
      }
    }
  }
}

.heart-solid {
  fill: #ff2048 !important;
  stroke: none !important;
}