ion-header {
  text-align: center;
}

ion-img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.title{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.slide-container {
  display: flex;
  flex-direction: column;
}

ion-slides {
  width: 90%;
}

ion-list {
  width: 100%;
}

ion-button{
  margin-bottom: 48px;
}

