<ion-content>
    <div class="card-wrapper">
        <div class="card-header">
            <h2>Add new</h2>
            <ion-fab-button class="clear" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="card-actions">
            <ion-button fill="outline" shape="round" color="secondary" mode="ios" size="full" (click)="openStatus()">
                Status update
            </ion-button>
            <div>OR</div>
            <ion-button fill="outline" shape="round" color="secondary" mode="ios" size="full" (click)="openRecipe()">
                Recipe
            </ion-button>
        </div>
    </div>
</ion-content>
